
body
{
    font-family: monospace;
    letter-spacing: 4px;
    background-color: #222222;
    color: lightgray;
    font-size: 22px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#container
{
    width: 900px;
    margin: auto;
}
#watchword
{
    width: 900px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 48px;
    min-height: 60px;
}
#gallows
{
    float: left;
    width: 450px;
    text-align: center;
    line-height: 280px;
    min-height: 280px;
}
#keyboard
{
    margin-top: 25px;
    float: left;
    width: 450px;
    text-align: center;
}

.letter
{
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 5px;
    margin: 5px;

    border: 3px solid lightsteelblue;
    border-radius: 10px;
    float: left;
    cursor: pointer;
    
}

.letter:hover{
    background-color: #333360;
    border: 3px solid white;
}
